{% extends "base.html" %}

{% block extra_head_base %}
<title>Example Poll Application</title>
	{% block extra_head %}{% endblock %}
{% endblock %}

{% block body %}
{% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
        <li>
		<div class="content-box">
        	<a href="/polls/{{ poll.id }}/">{{ poll.question }}</a>
            {% for choice in poll.choice_set.all %}
                 <br>{{ choice.choice }} votes: {{ choice.votes }}
            {% endfor %}
		</div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}